/*обираємо для оформлення тег body, 
тому написані властивості застосуються до всієї веб-сторінки */
body{
	background-color: silver; /*зробили фон сайту срібного кольору*/
	font-family: Arial; /*шрифт на всій сторінці буде Arial*/
}

/* офорлюємо найбільший заголовок на сторінці h1*/
h1{
	text-align: center; /*розміщуємо по-центру*/
	color: red; /* колір тексту робимо червоним*/
}

/*тепер вибираємо менший заголовок h5*/
h5{
	text-align: center; 
}

/*вибираємо для оформленн картинку з класом "pic1", це перша картинка на сайті*/

.pic1{
	height: 200px;
	width: 30%; /*вказуємо що ширина картинки буде 30% від ширини вікна браузера*/
    border: 10px solid red; /*рамка. Товщина 5 пікселі, колір - чорний, стиль - суцільна рамка*/
	float: left; /*властивість float дозволяє перемістити зображення на право.	Текст, який буде розміщено нижче картинки в коді html, буде її обтікати зліва*/
	margin-left: 20px; /*зовнішній відступ зліва, тобто зліва від зображення до тексту */
	margin-right: 150px; /*справа*/
	margin-bottom: 30px; /*знизу*/
	margin-top: 10px; /*зверху*/
	
}
	
/*ось саме цей код очищує обтікання*/
/*.clearfix{
	clear:both;
}*/
	
/*оформлюємо картинку з класом "pic2",  це друга картинка на сайті*/
.pic2{
	width: 500px; /*так ми задали фіксовану ширину - 500px. Ширина не буде змінюватись в залежності від ширини вікна браузера*/
    float:left; /*перемістили картинку наліво та зробили так щоб текст її обтікав справа*/
	border: 2px dotted black; /*dotted - стиль рамки в точечку*/
	padding: 10px; /*це внутрішній відступ - від картинки до рамки*/
	margin: 10px 20px; /*такий запис задає  відступи одночасно зверху і знизу по 10 пікселів (перше значення)і зліва та справа по 20 пікселів (друге значення)*/
}


	